<h1>Listing images</h1>

<%= link_to 'New Image', new_image_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Tag</th>
    <th></th>
  </tr>

  <% @images.reverse_each do |image| %>
      <tr>
        <td><%= image.title %></td>
        <td><%= image_tag(image.text, class: 'image') %></td>
        <td><%= image.tag_list %></td>
        <td><%= link_to 'Show', image_path(image) %></td>
      </tr>
  <% end %>
</table>
